*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #6c7794;
}

p {
  line-height: 150%;
  color: inherit;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  color: #091372;
  line-height: 140%;
}

h1 {
  font-size: 36px;
  margin-bottom: 12px;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 15px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

@media screen and (min-width: 640px) {
  h3 {
    font-size: 36px;
  }
}

h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
  h4 {
    font-size: 24px;
  }
}

header, section, footer {
  padding: 20px;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.wrapper-left {
  max-width: 600px;
  margin-right: auto;
}

.wrapper-right {
  max-width: 600px;
  margin-left: auto;
}

.underlined {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(40%, #ff5c8d));
  background-image: linear-gradient(transparent 60%, #ff5c8d 40%);
  background-repeat: no-repeat;
}

.dots {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px auto;
}

.dots__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d4daea;
  display: block;
}

.point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.point__text {
  font-size: 24px;
  font-weight: 700;
  color: #091372;
  width: 35px;
  height: 35px;
  text-align: center;
  background-color: #ffd873;
  border-radius: 50%;
}

.hero {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

@media screen and (min-width: 640px) {
  .hero {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.animated {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
}

.hero__subtitle {
  font-size: 24px;
  color: #091372;
  line-height: 140%;
  margin-bottom: 30px;
}

@media screen and (min-width: 640px) {
  .hero__subtitle {
    font-size: 36px;
    margin-bottom: 40px;
  }
}

.hero__navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
}

@media screen and (min-width: 640px) {
  .hero__navigation-list {
    margin-bottom: 60px;
  }
}

.hero__navigation-item {
  background-color: #091372;
  color: #ffffff;
  margin: 10px;
  border-radius: 20px;
}

.hero__navigation-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.hero__navigation-link {
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.about__description {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #091372;
  margin-bottom: 50px;
}

@media screen and (min-width: 640px) {
  .about__description {
    font-size: 36px;
    margin-bottom: 80px;
  }
}

.benefits {
  padding: 0;
  margin-bottom: 40px;
}

@media screen and (min-width: 640px) {
  .benefits {
    margin-bottom: 80px;
  }
}

.benefits__card {
  margin-bottom: 25px;
}

.experience {
  background-color: #091372;
  border-radius: 20px;
  max-width: 860px;
  margin: 0 20px 80px 20px;
}

@media screen and (min-width: 900px) {
  .experience {
    margin: 0 auto 80px auto;
  }
}

.experience__inner {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  padding: 40px 20px;
}

.experience__title {
  color: #ffffff;
}

.experience__text {
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 640px) {
  .experience__text {
    font-size: 36px;
  }
}

.jam__card {
  margin-bottom: 20px;
}

.jam__text {
  font-size: 24px;
}

.jam__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.steps__list {
  counter-reset: list;
  padding-left: 50px;
  margin-top: 50px;
}

.steps__item {
  list-style-type: none;
  position: relative;
}

.steps__item::before {
  counter-increment: list;
  content: counter(list) "";
  background: #ffd873;
  height: 35px;
  width: 35px;
  position: absolute;
  left: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-weight: 700;
  color: #091372;
}

.steps__p {
  margin-bottom: 20px;
}

.steps__p--heading {
  font-weight: 500;
  text-transform: uppercase;
  color: #091372;
}

.steps__small-list {
  padding-left: 20px;
}

.ending {
  text-align: center;
}

.ending__heading {
  font-size: 36px;
  font-weight: 700;
  color: #091372;
  margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
  .ending__heading {
    font-size: 48px;
  }
}

.ending__subheading {
  font-size: 24px;
  font-weight: 700;
  color: #091372;
  margin-bottom: 20px;
}

.ending__text {
  font-size: 24px;
}

.useful-links__title {
  font-size: 36px;
  font-weight: 700;
  text-transform: none;
  text-align: center;
}

@media screen and (min-width: 640px) {
  .useful-links__title {
    font-size: 48px;
  }
}

.useful-links__subtitle {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (min-width: 640px) {
  .useful-links__subtitle {
    font-size: 36px;
  }
}

.useful-links__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.useful-links__link {
  color: #091372;
  font-weight: 700;
  margin-right: 20px;
}

.useful-links__link::after {
  content: "-";
}
/*# sourceMappingURL=style.css.map */