// colours

$black: #121212;
$white: #ffffff;
$white-transparent: #ffffffb9;
$yellow: #ffd873;

// font settings

$flea: 18px;
$ant: 24px;
$hamster: 36px;
$rabbit: 48px;

$primary-font: 'Sen', sans-serif;
$secondary-font: 'IBM Plex Mono', monospace;

// breakpoints

$mobile: 480px;
$tablet:  640px;
$desktop: 1024px;

@mixin mobile {
    @media screen and (min-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop) {
        @content;
    }
}

// resets and global styling

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $primary-font;
  font-size: $flea;
  font-weight: 400;
  color: $black;
}

p {
  opacity: 0.7;
  line-height: 1.6;
  padding-top: 20px;
  color: inherit;
}

a {
  color: inherit;
}

ul {
  list-style: square;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: $hamster;

  @include tablet {
    font-size: $rabbit;
  }
}

h2 {
  font-size: $ant;
}

h3 {
  font-size: $ant;
}

header, section, footer {
  padding: 15px;
}

code {
  font-family: $secondary-font;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.wrapper--narrow {
  max-width: 600px;
  margin-right: auto;
}

.wrapper--black {
  background-color: $black;
  color: $white;
}

// modifiers

// header navigation bar

.navigation-wrapper {
  position: sticky;
  top: 0;
  background-color: $white;
  background-color: $white-transparent;
  backdrop-filter: blur(4px);
  z-index: 2;
}

.navigation__list {
  list-style: none;
  display: flex;
  justify-content: space-between ;
}

.navigation__link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// hero

.hero__title {
  margin-top: 50px;
  text-align: center;

  @include tablet {
    margin-top: 100px;
  }
}

.hero__subtitle {
  margin-top: 30px;
  text-align: center;
}

.hero__fact {
  margin-top: 60px;
  margin-bottom: 100px;
  text-align: center;
}