<header class="navigation-wrapper">
  <nav class="navigation wrapper">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a href="#" class="navigation__link">About</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link">Start</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link">CMS</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link">Useful Links</a>
      </li>
    </ul>
  </nav>
</header>